@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: hsl(249 33% 16%);
  --foreground: hsl(60, 30%, 96%);
  --muted: hsl(249 12% 20%);
  --muted-foreground: hsl(249 12% 70%);
  --popover: hsl(249 33% 13%);
  --popover-foreground: hsl(0 0% 100%);
  --card: hsl(249 33% 14%);
  --card-foreground: hsl(0 0% 100%);
  --border: hsl(249 23% 21%);
  --input: hsl(249 23% 24%);
  --primary: hsl(34 98% 48%);
  --primary-foreground: hsl(34 98% 8%);
  --secondary: hsl(34 30% 25%);
  --secondary-foreground: hsl(34 30% 85%);
  --accent: hsl(249 33% 31%);
  --accent-foreground: hsl(249 33% 91%);
  --destructive: hsl(1 99% 58%);
  --destructive-foreground: hsl(0 0% 100%);
  --ring: hsl(34 98% 48%);
  --chart-1: hsl(34 98% 48%);
  --chart-2: hsl(34 30% 25%);
  --chart-3: hsl(249 33% 31%);
  --chart-4: hsl(34 30% 28%);
  --chart-5: hsl(34 101% 48%);

  --radius: 0.5rem;
}
p,
h4 {
  font-family: var(--font-raleway-mono);
  @apply text-sm sm:text-base;
}
h1 {
  @apply text-lg sm:text-3xl;
}
h2 {
  @apply text-lg sm:text-2xl;
}
h3 {
  font-family: var(--font-raleway-mono);
  @apply text-base sm:text-lg;
}

body {
  color: var(--foreground);
  background: var(--background);
}
